.estiloNavbar{
    display: flex;
    background-color: rgba(77, 129, 61, 0.678);
    
}
.estiloTituloLogo{
    font-size: 2.4rem;
    color: black;
    text-decoration: none;
    display: flex;
    
}
.estiloLinks{
    display: flex;
    margin-left: 460px;
    margin-right: 760px;
   
}
.estiloLink{
    font-size: 1.5rem;
    margin-left: 50px;
    color: black;
    
}
.estiladoLi{
    color: black;
    text-decoration: none;
    &:hover{
        color: blue
    }
}
