.tituloDetail{
    color: rgb(209, 37, 37);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
.estiloCardDetail{
    margin-left: 800px;
    margin-top: 100px;
    width: 400px;
}
.tituloDetalle{
    text-align: center;
    font-family: cursive;
    margin-bottom: 20px;
    margin-top: 25px;
}

.imagenDetail{
    margin-right: 50px;
}
.botonAgregar{
    margin-left: 40px;
}
.estiloPriceDetail{
    text-align: center;
}
.estiloContador{
    margin-left: 160px;
}