.estiloTituloItems{
    color: rgb(209, 37, 37);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 80px;
    text-decoration: underline;
}
.card{
    display: flex;
    width: 18rem;
}
.linksList{
    color: red;
    text-align: center;
}
.estiloLink{
    color: rgba(255, 0, 0, 0);
}
.estiloPrecio{
    color: black;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}
.estiloTitulo{
    color: black;
    font-family: cursive;
    text-align: center;
    margin-top: 25px;
}
.estiloCategoria{
margin-top: 25px;
color: black;
text-align: center;
}
