.botonAumentar{
    height: 100%;
    width: 35px;
    margin-left: 50px;
}
.botonReducir{
    height: 100%;
    width: 35px;
    
}
.cantidad{
   margin-left: 50px;
}
.estiloContador{
   text-align: center;
   display: flex;
   margin-top: 40px;
   margin-bottom: 15px;
}
