.estiloTituloNegativo{
    margin-top: 40px;
    color: rgb(209, 37, 37);
    text-align: center;
}

.estiloTotal{
    margin-left: 410px;
}

.estiloTituloCart{
    text-align: center;
    margin-top: 40px;
    color: rgb(209, 37, 37);
    margin-bottom: 50px;
}

.botonVaciar{
    margin-left: 500px;
}
.botonCheckout{
    margin-top: 10px;
    
}